{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">star</i>
            </div>
            <p class="card-category">Best rated</p>
            <h3 class="card-title">{{best.name}} <small>{% if best.source %}[{{best.source}}]{% endif %}</small></h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">storage</i>
            </div>
            <p class="card-category">Total</p>
            <h3 class="card-title">{{tools.count}}</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">new_releases</i>
            </div>
            <p class="card-category">Newest</p>
            <h3 class="card-title">{{newest.name}}</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">construction</i>
            </div>
            <p class="card-category">TBC</p>
            <h3 class="card-title">TBC</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
       <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Tools</h4>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>Name</th>
                <th>Tags</th>
                <th>Description</th>
		        <th>Related</th>
       		    <th>Rating</th>
		        <th>Used</th>
		        <th>Source</th>
		        <th>Language</th>
		        <th>Platform</th>
              </thead>
              <tbody>
                {% for tool in tools %}
                <tr>
                  <td>{{tool.name}}</td>
		          <td>
		          {% for tag in tool.tags.all %}
      		  	    {{tag.name}}
		          {% endfor %}
		          </td>
                  <td>{{tool.description}}</td>
                  <td>
		          {% for rel in tool.related.all %}
        		  	{{rel.name}}
		          {% endfor %}
		          </td>
        		  <td>{{tool.rating}}</td>
        		  <td>{{tool.used}}</td>
        		  <td>{{tool.source}}</td>
        		  <td>{{tool.language}}</td>
                  <td>{{tool.platform}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      
    });
  </script>

{% endblock javascripts %}
